<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Eregansu - a PHP application platform" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	
    <title>{{ page.title }}</title>
  </head>

  <body class="{{ page.class }}">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/eregansu/eregansu">View on GitHub</a>

          <h1 id="project_title"><a href="{{ site.url }}/">Eregansu</a></h1>
          <h2 id="project_tagline">A PHP application platform</h2>

<!--            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/eregansu/lib/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/eregansu/lib/tarball/master">Download this project as a tar.gz file</a>
            </section> -->
        </header>
    </div>
	{% if page.type %}
	<nav class="crumb">
	  <ul>
		<li><a href="{{ site.url }}/">Eregansu</a></li>
		{% if page.package %}
		{% if page.type != 'package' %}
		<li><a href="{{ site.url }}/{{ page.package }}">{{ page.packageTitle }}</a></li>
		{% endif %}
		{% if page.className %}
		{% if page.type != 'class' && page.type != 'interface' %}
		<li><a href="{{ site.url }}/{{ page.className }}">{{ page.className }}</a></li>
		{% endif %}
		{% endif %}
		{% endif %}
	  </ul>
	</nav>
	{% endif %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner" role="main">
		{{ content }}
	  </section>
	</div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Eregansu maintained by <a href="https://github.com/nevali">Mo McRoberts</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
